@import '../variables.scss';

.navbar-item > a {
  color: $white;
}

.navbar-item:hover {
  background-color: $primary-dark;
}

@media only screen and (max-width: $mobile) {
  .navbar-brand {
    display: block;
  }
  .navbar-item > a {
    width: 100%;
    text-align: center;
  }
}
